@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Returned API Data:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<string[]>("/api/WeatherForecast") ?? new string[] { };
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Something went wrong while retrieving weather data: {ex.Message}");
        }
    }
}
